nav {
  width: 100%;
  height: 150px;
  position: relative;
  transition-duration: 0.4s;
  color: white;
}

.navbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 75px;
  font-size: large;
  color: white;
  /* color: rgb(167, 167, 167); */
  transition-duration: 0.4s;
  font-size: 25px;
}
.navbar:hover {
  color: rgb(167, 167, 167);
}

nav:hover {
  background: rgba(0, 0, 0, 0.638);
  color: rgb(167, 167, 167);
}

.user-menu {
  position: absolute;
  width: 400px;
  height: 50%;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  color: white;
}
.nav-item:hover .dropdown-menu {
  display: flex;
}

.icon_navbar {
  width: 150px;
  height: 100px;
  cursor: pointer;
}
.all {
  position: relative;
}

.new {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 75px;
  left: -262px;
  display: none;
  flex-direction: column;
  margin-left: 19.1vw;
  width: 150px;
  height: 300px;
  color: black;
  background: rgba(255, 255, 255, 0.85);
  line-height: 25px;
  animation-duration: 0.1s;
  animation-name: slidein;
  font-size: 20px;
}

.dropdown-menu p {
  margin-top: 4px;
  margin-left: 5px;
  cursor: pointer;
}

@keyframes slidein {
  from {
    height: 0px;
    background: rgba(255, 255, 255, 0);
  }
  to {
    height: 300px;
    background: rgba(255, 255, 255, 0.652);
  }
}
